@import '_variables.scss';
@import 'mixins';
@import 'layout';

footer {
  @include menu-nav-bar;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $day-menu-border-color;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $day-menu-font-color;
  }
}