$tablet: (min-width: 640px);
$desktop: (min-width: 768px);
$night-menu-font-color: black;
$night-menu-background-color: grey;
$night-menu-border-color: white;
$night-section-background-color: black;
$night-section-font-color: white;

